button<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../layout/header.ejs') %>
  <body class="d-flex flex-column min-vh-100">
    <div class="container container-tela-grande">

      <div class="container mt-5">
        <p class="h4 text-center mb-2">Termos - Programa de Demissão Incentivada</p>
        <p class="text-center mb-5">Prezado (a) leia atentamente os termos a seguir, com muita atenção!</p>
      </div>
  
      <div class="alert alert-warning d-none" role="alert" id="alertWarning">
        <p>O seu pedido já foi inserido em nosso banco de dados.</p>
      </div>

      <div class="col container-termos">
      <!-- INICIO PRIMEIRO DECRETO/TERMOS -->
      <div class="form-group px-3 mb-3">
        <h4 class="text-purple">DECRETO</h4>
        <div class="caixa-texto rounded">
            <span class="text-dark">
              <h6 class="text-center">DECRETO N° 49, DE 22 DE FEVEREIRO DE 2023</h6>
                <br>
                <p class="font-italic">“Regulamenta o Plano de Demissão Incentivada (PDI) a
                  que se refere o artigo 158 da Lei Municipal nº 3.977, de
                  15 de setembro de 2022.”
                  </p>
                <br>
                <p><strong>LAERTE SONSIN JÚNIOR</strong>, Prefeito da Estância Turística de Salto, Estado de São Paulo, usando das atribuições que lhe são conferidas por Lei e:</p>
                <p><strong>CONSIDERANDO</strong> o disposto no Art. 158 da Lei Municipal nº 3.977, de 15 de setembro de 2022, que autoriza a Prefeitura da Estância Turística de Salto e o Serviço
                  Autônomo de Água e Esgoto de Salto a promoverem o Plano de Demissão Incentivada
                  (PDI),</p>
                  <p><strong>CONSIDERANDO</strong> o disposto na cláusula 13ª do Acordo Coletivo de Trabalho
                    2022/2024,
                    </p>
                  <p><strong>CONSIDERANDO</strong> os princípios da eficiência e da economicidade, a necessidade
                    de otimizar a gestão de pessoas e ainda assegurar um processo de desligamento
                    transparente aos empregados do Município,
                    </p>

                <br>
                <h5 class="text-center">DECRETA:</h5>
                <br>
                <p><strong>Art. 1º.</strong> O presente Decreto regulamenta o Plano de Demissão Incentivada (PDI) a que se refere o artigo 158, da Lei Municipal nº 3.977, de  15 de setembro de 2022.</p>
                <p><strong>Art. 2º.</strong> Para os fins deste Decreto, considera-se:</p>
                <p><strong>I -</strong> beneficiário elegível: empregado público efetivo que preencha os seguintes requisitos para adesão ao Programa de Demissão Incentivada:</p>
                <p><strong>a)</strong> tenha mais de 15 (quinze) anos de tempo de serviço, contado entre a admissão no serviço público e a publicação deste decreto;</p>

                <p><strong>b)</strong> não esteja afastados em virtude de licença por acidente em serviço ou para tratamento de saúde, conforme a legislação vigente;</p>

                <p><strong>c)</strong> não esteja aposentado por invalidez, nos termos da Lei Federal nº 8.213, de 24 de julho de 1991;</p>

                <p><strong>d)</strong> não tenha sido reintegrado ou admitido no emprego público por decisão judicial não transitada em julgado.</p>

                <p><strong>II -</strong> beneficiário optante: beneficiário elegível que manifestou seu interesse em aderir ao PDI, participou da palestra obrigatória e assinou o Termo de Adesão Irretratável ao Plano de Demissão Incentivada.</p>

                <p><strong>III -</strong> Indenização: valor monetário pago ao beneficiário elegível, calculado com base na referência salarial de seu cargo na data da convocação para adesão multiplicado pelos anos de efetivo exercício, sem considerar quaisquer outras parcelas, inclusive comissões, diárias, bônus, adicionais, tais como insalubridade, horas extras, trabalho noturno, periculosidade, gratificações de função e confiança entre outros, com valor máximo de 35 (trinta e cinco) vezes a referência salarial R05.</p>

                <p><strong>IV -</strong> efetivo exercício: período de tempo durante o qual o beneficiário elegível exerceu suas atividades profissionais como agente público, contado a partir da data de admissão até a data de adesão ao PDI. 
                </p>

                <p><strong>Art. 3º.</strong> O Programa de Demissão Incentivada (PDI) será implementado nas seguintes fases:</p>

                <p><strong>I-</strong></p>Divulgação do Edital: publicação de Edital no Diário Oficial do Município, com o regulamento do programa, incluindo requisitos de adesão e condições para recebimento da indenização.</p>

                <p><strong>II - </strong> Manifestação de Interesse: período no qual os beneficiários elegíveis poderão manifestar interesse em aderir ao PDI.</p>

                <p><strong>III - </strong> Classificação: classificação dos beneficiários elegíveis que manifestarem seu interesse em lista ordenada conforme critérios estabelecidos neste Decreto.</p>

                <p><strong>IV - </strong> Convocação: notificação dos beneficiários elegíveis que manifestaram interesse através de aviso no Diário Oficial do Município, telegrama no endereço do cadastro e notificação à chefia imediata, para participação obrigatória em palestra informativa.</p>

                <p><strong>V - </strong> Palestra Informativa: evento de participação obrigatória dos interessados, para  orientações do Departamento de Gestão de Pessoas e de representante do Sindicato dos empregados públicos.</p>

                <p><strong>VI - </strong> Homologação: validação das adesões dos beneficiários optantes.</p>

                <p><strong>VII - </strong> Demissão: expedição das portarias de demissão dos beneficiários optantes, encerrando vínculo empregatício com a Administração Municipal.</p>

                <p><strong>VIII - </strong> Pagamento da Indenização: etapa final, com pagamento de indenização em até 10 (dez) dias após demissão.</p>

                <p><strong>§ 1º. </strong> O Edital do PDI preverá um período mínimo de manifestação de interesse entre a sua publicação e a data limite de 20 (vinte) dias;</p>

                <p><strong>§ 2º. </strong> A manifestação de interesse poderá ser feita eletronicamente através do endereço eletrônico https://pdi.salto.sp.gov.br  ou através de formulário próprio, fornecido pelo Departamento de Gestão de Pessoas.</p>

                <p><strong>§ 3º. </strong> Encerrado o período de Manifestação de Interesse, a Comissão do Programa de Demissão Voluntária (CPDI) designada especialmente para este fim, procederá à classificação das manifestações de interesse que receberão pontuação conforme os seguintes critérios:</p>

                <p><strong>a)</strong> 1 (um) ponto por ano efetivamente trabalhado;</p>

                <p><strong>b)</strong> 5 (cinco) pontos se o beneficiário elegível ocupar cargo extinto na vacância;</p>

                <p><strong>c)</strong> pontuação variável de acordo com a referência salarial do cargo atual do beneficiário elegível:</p>

                <p><strong>1.</strong> R01 a R04: 5 (cinco) pontos;</p>

                <p><strong>2.</strong> R05: 4 (quatro) pontos;</p>

                <p><strong>3.</strong> R05A: 3 (três) pontos;</p>

                <p><strong>4.</strong> R06: 2 (dois) pontos;</p>

                <p><strong>5.</strong> R07 em diante: 1 (um) ponto.</p>

                <p><strong>§ 4º.</strong> A lista de classificação do PDI terá validade de 1 (um) ano, prorrogável por igual período.</p>

                <p><strong>§ 5º.</strong> O Departamento de Gestão de Pessoas convocará os empregados que manifestaram interesse na adesão ao PDI, na ordem de classificação e até o limite da dotação orçamentária destinada ao PDI, para participarem de palestra informativa com a participação de representantes do Departamento de Gestão de Pessoas, da Comissão do Programa de Demissão Incentivada e do Sindicato profissional dos empregados do Município, para dirimir dúvidas e esclarecer os efeitos da adesão ao PDI.</p>

                <p><strong>§ 6º.</strong> Ao final da palestra informativa, será distribuído Termo de Adesão Irretratável ao PDI, que deverá ser assinado e entregue pelos interessados, mediante recibo, no Departamento de Gestão de Pessoas, em até 3 (três) dias úteis após a palestra informativa.</p>

                <p><strong>§ 7º.</strong> A Comissão do Plano de Demissão Incentivada (CPDI) poderá expedir novas convocações caso os empregados convocados para a palestra informativa desistam de aderir ao PDI e haja saldo na dotação orçamentária do programa para novas adesões.</p>

                <p><strong>§ 8º.</strong> Transcorrido o prazo a que se refere o § 6º, o Secretário de Administração e Governo Digital homologará o PDI, determinando ao Departamento de Gestão de Pessoas a emissão das portarias de demissão dos beneficiários optantes, nas quais deverá constar, obrigatoriamente:</p>

                <p><strong>a)</strong> alusão à demissão voluntária, por adesão ao PDI;</p>

                <p><strong>b)</strong> dispositivo mencionando o pagamento de indenização e o seu valor.</p>

                <p><strong>Art. 4º.</strong>  A adesão ao PDI ensejará a renúncia ao direito de reintegração pelo
                  empregado.
                  </p>

                <p><strong>§ 1º.</strong> Eventual reintegração do beneficiário optante aos quadros da Administração
                  por decisão judicial, importará na devolução dos valores recebidos a título de indenização,
                  corrigidos monetariamente, sem prejuízo da possibilidade de imediato retorno ao trabalho,
                  em caso de interesse da Administração Pública.</p>

                <p><strong>§ 2º.</strong> Constará no Termo de Adesão Irretratável ao Plano de Demissão Voluntária,
                  cláusula prevendo autorização para desconto dos valores a que se refere o parágrafo
                  anterior, até o limite de 30% (trinta por cento) dos vencimentos ou verbas rescisórias do
                  beneficiário optante, em parcelas mensais sucessivas, até total restituição da indenização.</p>

                <p><strong>§ 3º.</strong> O beneficiário optante será dispensado do cumprimento do aviso prévio.</p>

                <p><strong>Art. 5º.</strong>  As despesas decorrentes da execução do presente Decreto correrão por
                  conta de dotações orçamentárias próprias.</p>

                  <p><strong>Art. 6°</strong> . Este Decreto entra em vigor na data da sua publicação.</p>
                <br>

                <p class="text-center"><strong>ESTÂNCIA TURÍSTICA DE SALTO, ESTADO DE SÃO PAULO.</strong></p>
                <p class="text-center">Aos 22 de fevereiro de 2023 - 324º Fundação.</p>
                <br>
                
                <p class="text-center"><strong>LAERTE SONSIN JÚNIOR</strong></p>
                <p class="text-center">Prefeito Municipal</p>
                <br>
                <p class="text-center"><strong>ARILDO GUADAGNINI</strong></p>
                <p class="text-center">Secretário de Governo</p>
            </span>
        </div>
        <div class="align-check custom-checkbox">
            <input class="form-check-input" type="checkbox" value="" id="checkDecreto">
            <label class="form-check-label" for="checkDecreto" style="font-weight: 700;">
              Eu li atentamente as disposições do Decreto nº 49/2023.
            </label>
        </div>
      </div>
      <!-- FIM PRIMEIRO DECRETO/TERMOS -->

      <!-- INICIO SEGUNDO DECRETO/TERMOS -->
      <div class="form-group px-3 mb-3">
        <h4 class="text-purple">TERMOS E REGRAS</h4>
        <div class="caixa-texto rounded">
          <span class="text-dark">
            <h6 class="text-center">TERMOS E REGRAS</h6>
            <br>
            <p class="font-italic">Prezado(a), ressaltamos que este sistema é apenas <strong>informativo.</strong> Por isso, recomendamos que você leia atentamente os termos e regras aqui mencionados.</p>
            <br>
            <p><strong>Considera-se </strong>beneficiário elegível, o empregado público efetivo que preencha os seguintes requisitos para adesão ao <strong>Plano de Demissão Incentivada:</strong></p>
            <br>
            <p><strong>•</strong> Ter mais de 15 (quinze) anos de tempo de serviço, contado entre a admissão no serviço público e a publicação do decreto;</p>
            <br>
            <p><strong>•</strong> Não estar afastado em virtude de licença por acidente em serviço ou para tratamento de saúde, conforme a legislação vigente;</p>
            <br>
            <p><strong>•</strong> Não estar aposentado por invalidez, nos termos da Lei Federal nº 8.213, de 24 de julho de 1991;</p>
            <br>
            <p><strong>•</strong> Não ter sido reintegrado ou admitido no emprego público por decisão judicial não transitada em julgado.</p>
            <br>
            <p><strong>Ao aderir ao PDI</strong>, o empregado renunciará ao direito de reintegração. É importante que esteja ciente dessa condição.</p>
            <br>


            <p><strong>Em relação ao valor</strong>, é importante ressaltar que o montante informado é apenas uma <strong>estimativa</strong> e está sujeito a alterações.</p>
            <br>

            <p><strong>É importante </strong> destacar que o simples fato de demonstrar interesse no <strong>Plano de Demissão Incentivada (PDI)</strong>, não garante que você será contemplado. Por essa razão, solicitamos que aguarde o contato do RH.</p>
            <br>

            <p><strong>Para obter informações adicionais</strong>, leia atentamente o decreto disponível no banner desta página ou acesse o <a href="https://dosp.com.br/exibe_do.php?i=MzMxOTU1" target="_blank">Diário eletrônico n° 1292</a>. Caso ainda tenha dúvidas após ler as informações disponíveis, recomendamos que procure a sua chefia imediata para esclarecimentos adicionais. Se ainda assim persistir, não hesite em entrar em contato com o Departamento de Recursos Humanos para obter orientações complementares.</p>
            <br>
            

            
          </span>
        </div>
        <!--INICIO CHECK BOX-->
        <div class="align-check custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="checkTermo">
          <label class="form-check-label" for="checkTermo" style="font-weight: 700;">
            Eu li atentamente e aceito as regras e os termos do PDI.
          </label>
        </div>
        <!--FIM CHECK BOX-->
      </div>
      <!-- FIM SEGUNDO DECRETO/TERMOS -->
      </div>
    </div>

    <!-- INICIO BOTÃO PARA APÓS ACEITAR OS TERMOS -->
    <div class="container mt-2 mb-5">
      <div class="w-100 mt-3 d-flex align-items-center justify-content-center mx-auto mt-2" >
        <button" id="btn"  class="btn p-3 fw-bold bt-geral" style="background: rgb(130, 10, 209);" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Eu li e aceito todos os termos</button>
      </div>
    </div> 
    <!-- FIM BOTÃO PARA APÓS ACEITAR OS TERMOS -->


    <!-- INICIO MODAL AVISO (SUCESSO) -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-purple" id="exampleModalLabel">INCLUSÃO FEITA COM SUCESSO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div role="alert" id="alertSuccess">
              <p>Seu pedido foi inserido em nosso sistema, aguarde o retorno do RH.</p>
              <p>Enviamos um e-mail de confirmação do seu pedido.</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- FIM MODAL AVISO (SUCESSO) -->

    <div class="mat-hidden"><%= matricula %></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/termo.js"></script>


  </body>
  <%- include('../../layout/footer.ejs') %>

  <!--INICIO BOTÃO HABILITADO APÓS OS CHECK'S-->
  <script>
    $(document).ready(function() {
      $(('#checkDecreto')).click(function() {
        if ($('#checkDecreto').is(':checked') && ($('#checkTermo').is(':checked'))) {
          $('#btn').attr('disabled', false);
        } else {
          $('#btn').attr('disabled', true);
        }
      });
      $(('#checkTermo')).click(function() {
        if ($('#checkTermo').is(':checked') && ($('#checkDecreto').is(':checked'))) {
          $('#btn').attr('disabled', false);
        } else {
          $('#btn').attr('disabled', true);
        }
      });
    });
  </script>
  <!--FIM BOTÃO HABILITADO APÓS OS CHECK'S-->
</html>
