<footer class="bg-light mt-auto d-flex justify-content-around">
  <div class="logo-footer2">
    <img
      src="/assets/img/logo1.png"
      class="brasao logo-footer img-fluid"
      alt="logo secretaria de administração e governo digital 2"
      title="Secretaria de administração e governo digital 2"
      style="width: auto"
    />
    <img
      src="/assets/img/logo2.png"
      class="salto-terra logo-footer img-fluid"
      alt="logo secretaria de administração e governo digital 2"
      title="Secretaria de administração e governo digital 2"
      style="width: auto"
    />
  </div>
  <img
    src="/assets/img/logo2adm.png"
    class="adm-logo logo-footer img-fluid w-auto h-65 m-auto-5"
    alt="logo secretaria de administração e governo digital 2"
    title="Secretaria de administração e governo digital 2"
    style="width: auto"
  />
</footer>
