<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
    src="https://kit.fontawesome.com/cddaf0c0ff.js"
    crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,700;8..144,900&family=Roboto:wght@300;500;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
  />
  <link rel="stylesheet" href="/css/pdi-main.css" />
  <link rel="stylesheet" href="/css/layouts/style.css" />
  <title>Plano de Demissão Incentivada - Prefeitura da Estância Turística de Salto</title>
</head>

<header
  class="container-fluid d-flex align-items-center justify-content-between p-3 border-bottom topo"
>
  <a href="/sistemas/pdi/main">
    <img
      src="/assets/img/logo_branco.png"
      alt="logo"
      class="img-fluid logo"
      title="Prefeitura da Estância Turística de Salto"
    />
  </a>

  <a
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="38"
      height="38"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
      class="menu-hamburger"
      style="color: aliceblue"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </a>

  <nav class="menu-principal">
    <ul
      class="d-flex justify-content-center align-items-center gap-5 p-3 menu-nav"
    >
      <li class="nav-item">
        <a href="/sistemas/pdi/main">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/sistemas/pdi/elegiveis/pagina/1"
          >Lista de interessados</a
        >
      </li>
      <li class="nav-item">
        <a href="/sistemas/pdi/elegiveis"
          >Servidores elegíveis</a
        >
      </li>
      <li class="nav-item">
        <a href="/sistemas/pdi/termos"
          >Termo</a
        >
      </li>
      <li class="nav-item">
        <a href="/sistemas/pdi/logout">Sair</a>
      </li>
    </ul>
  </nav>
</header>

<div class="collapse menu-mobile" id="collapseExample">
  <div class="card card-body bg-secondary" style="--bs-bg-opacity: 0">
    <ul class="menu-mobile realceLinha">
      <li><a href="/sistemas/pdi/main">Início</a></li>
      <li>
        <a href="/sistemas/pdi/elegiveis/pagina/1"
          >Lista de interessados</a
        >
      </li>
      <li>
        <a href="/sistemas/pdi/elegiveis"
          >Servidores elegíveis</a
        >
      </li>
      <li>
        <a href="/sistemas/pdi/termos">Termos</a>
      </li>
      <li><a href="">Sair</a></li>
    </ul>
  </div>
</div>